p.StageDirection
{
    font-family: 'Times New Roman', Times, serif;
    font-size: 14;
    color:black;
    background-color: lightsteelblue;
}
p.StageDirection:hover
{
    font-family:'Times New Roman', Times, serif;
    font-size: 14;
    color:black;
    background-color: burlywood;
}
.speech{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font: size 18px;
    color:maroon;
}
.PETER
{
    font-family: Arial, Helvetica, sans-serif;
    font: size 16px;
    color:darkviolet;
}
.MICH
{
    font-family: Arial, Helvetica, sans-serif;
    font: size 16px;
    color:deepskyblue;
}
table,td,tr{
    border:2px black;
    color:solid brown;
}
th{
    border:2px solid brown;
    color:solid black;
    
}
td{
    text-align: center;
}
th,td{
    padding-right: 30px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-top: 10px;
}
